

<div class="service_menu">
                <h2>Make an appointment</h2>
                <div class="ser_col1 ser_com">

                    <section id="primary">
                   <div class="items">     
                      
                        <p>To book an appointment, you can book online or contact the Health Services reception.</p>
                    </div>

                    <%= image_tag 'doctor.JPG',  class: 'pic-icon'%>