</script>

    	                           
            <div class="service_menu">
                <h2>Service Menu</h2>
                <div class="ser_col1 ser_com">

                    <section id="primary">
                   <div class="items">     
                        <span class="ser_title">Haircuts</span><span class="ser_cost"></span>
                        <p>A custom hair cut by one of our professional stylists.</p>
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Short Hair Cut</span><span class="ser_cost">$50 & up</span>
                        
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Men&#8217;s Hair Cut</span><span class="ser_cost">$30</span>
                      
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Children&#8217;s Hair Cut</span><span class="ser_cost">$30</span>
                        
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Color &#038; Highlights</span><span class="ser_cost">$130 & up</span>
                        
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Partial Foil</span><span class="ser_cost">$185 & up</span>
                       
                    </div>
                  
                   <div class="items">     
                        <span class="ser_title">Toner</span><span class="ser_cost">$25</span>
						
						 <div class="items">     
                        <span class="ser_title">balayge</span><span class="ser_cost">$25</span>
                        
                    </div>
                 </section>                     
                                 

           
                
                                      
                  
                </div>
                <div class="clear"></div> 
            </div>
            
            <div class="clear"></div> 
        </div>


      